<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="databaseConnectionString" connectionString="Server=sql6.freemysqlhosting.net;Database=sql6114576;Uid=sql6114576;Password=BzSIN9yCih;" providerName="System.Data.MySqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
